@import colors
@import sizes

$colMargin: 0.01
$gridCount: 10
$colPadding: 0.01

@mixin colCount($value)
  width: ((1/$gridCount)*$value - ($colPadding + $colMargin)*2)*100%

@mixin colChoose($value)
  +colCount($value)
  @media (max-width: $tabletWidth)
    +colCount($value*2)
  @media (max-width: $phoneWidth)
    +colCount($gridCount)

@for $i from 1 through $gridCount
  .col-#{$i}
    @extend %colstuff
    +colChoose($i)

.row
  word-spacing: -4px
  padding: 0px
  margin: 0px
  display: block

%colstuff
  background-color: white
  border-radius: 0.1em
  word-spacing: normal
  display: inline-block
  margin: $colMargin*100%
  padding: $colPadding*100%
  min-height: 1em
